* {
    font-family: Okra, Avenir;
    /* display: flex; */
}

.showcase-bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.showcase {
    color: white;
    width: 100%;
}

.black-shade {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400px;
    width: 100%;
    z-index:-1;
}

.showcase .navbar {
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.showcase .navbar .login {
    display: flex;
}

.showcase .navbar .login p {
    padding : 0px 10px;
}

.showcase .text-display {
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px
}
.showcase .text-display h2 {
    font-size: 2.3em;
    font-style: italic;
    /* font-family: sans-serif; */
    font-weight: 700;
    margin: 37px;
}

.input-flex {
    display: inline-flex;
    height: 40px;
}

.input-display {
    position: relative;
    margin:0px;
    padding-left: 10px;
    width:70vw;
    max-width: 900px;
    height:36px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 0.5em;
    border: 1px solid rgba(128, 128, 128, 0.582);
}

.input-flex button {
    position: relative;
    height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgb(239, 79, 95);
    background-color: rgb(239, 79, 95);
    color: white;
    margin: 0px;
    padding: 2px 10px;
    font-size: 15px;
    cursor: pointer;
}

.content-display {
    margin: 30px 10%;
}

.scale-card {
    display: inline-grid;
    transform: scale(1);
    transition: transform;
    transition-duration: 0.3s;
    margin-left: 20px;
    margin-top: 30px;
    width: 40%;
    min-width: 150px;
    cursor: pointer;
}

.scale-card:hover {
    transform: scale(1.05);
    transition: transform;
    transition-duration: 0.3s;
}

.card {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
}

.card-contain {
    width: 100%;
    height: 100px;
}

.scale-card img {
    object-fit: cover;
    border-radius: 15px;
    width: 70vh;
    height: 40vh
}

.card .card-text {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    bottom:0px;
    text-decoration: none;
    display: table-caption;
    padding: 10px;
    color:rgb(70, 70, 70);
}

@media screen and (max-width: 700px) {

    .scale-card img {
        object-fit: cover;
        border-radius: 15px;
        width: 100%;
        height: 100%
    }

    .card .card-text {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50px;
        background-color: white;
        bottom:0px;
        text-decoration: none;
        display: table-caption;
        padding: 10px;
        color:rgb(70, 70, 70);
    }
}

.card .card-text h2{
    font-family: 'Avenir';
    margin:0px 10px;
}

.card .card-text p{
    font-family:'Avenir';
    margin:0px 10px;
}

.empty-space {
    margin: 100px;
}

.collections-sub-heading {
    display: flex;
    justify-content: space-between;
}

.trending-column {
    width: 25%;
    min-width: 150px;
    max-width: 300px;
    height: 300px;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    transition: translate;
}

.trending-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.trending-column .black-shade-bg {
    position: absolute;
    bottom: 0px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
    width:100%;
    height:100%;
    border-radius: 8px;
}

.trending-text {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    display: block;
    color:white;
}

.trending-text p {
    margin: 0px 10px;
}

.trending-text section {
    display: flex;
}

.trending-column span {
    scale:1.5;
    align-items:center;
}

div.localities {
    margin-top: 50px;
    margin-bottom: 100px;
}

.localities h1 {
    position: relative;
    text-align: center;
    font-weight: 400;
}

.localities p {
    font-size: 1.3em;
}

.localities span {
    display: flex;
    width: 26%;
    min-width: 150px;
    border:rgba(128, 128, 128, 0.582) 2px solid;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.download-request {
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.download-request img {
    width: 250px;
    height: 450px;
}

.download-request .container {
    margin: 30px 10px;
    font-size: 1.2em;
}




.contact-option {
    display: flex;
}

label.container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}


.checkmark {
    position: relative;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    border: 1px black solid;
}

.checkmark.activated {
    border: 1px rgb(239, 79, 95) solid;
    display: flex;
}

.checkmark .activated {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: rgb(239, 79, 95);
    border-radius: 50%;
    margin: auto;
    box-shadow: 2px black;
}

.contact-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-input .input-display {
    width: 70%;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid rgba(128, 128, 128, 0.582);
    font-size: 0.8em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.contact-input button {
    height: 30px;
    width:60px;
    margin:0px;
    background-color: rgb(239, 79, 95);
    border: 1px solid rgb(239, 79, 95);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.container img {
    width: 120px;
    height: 40px;
    cursor: pointer;
}